<form  method='POST' action={% url 'comment' podcast_id=specific_podcast.id %}>{% csrf_token %}
    <label for="form-control">Your name:</label>
        <input name='user' class="form-control form-control-lg" type="text" placeholder="Please write your name"><br>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Your comment</label>
        <textarea name='comment_text' class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea><br>
        <button type="submit" class="btn btn-warning mb-2">Add comment</button>
        </a>
    </div>
</form>
