{%load static %}
{% include "podcast/all_needed_links.html" %}

<body>
    <div class="container-fluid">
        <div class="card text-white">
            <img src="{% static "podcast/img/banner.png" %}" class="card-img">
            {% include "podcast/header.html" %}
        </div>
    </div>
    {% for podcast in podcasts %}
        <div class="container pt-5 pb-5">
            <div class="card border-0">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href={{ podcast.id }}><img src="{{ podcast.picture.url }}" class="card-img" alt="..."></a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ podcast.pod_title }}</h5>
                            <p class="card-text">{{ podcast.description|safe}}</p>
                            <p class="card-text"><small class="text-muted">Послухати</small></p>
                            <audio controls preload="none">
                                <source src="{{ podcast.audio.url}}" type="audio/ogg">
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     {% endfor %}
     {% include "podcast/pagination.html" %}
    </body>

     {% include "podcast/footer.html" %}

